.projects-header {
  .title-pane {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    h5 {
      font-weight: 600;
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
    .selection-state {
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .select-box {
        margin-right: 20px;
        @media (max-width: 767px) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .add-project {
        margin-right: 12px;
        path {
          fill: #ffffff;
        }
        g {
          stroke: #ffffff;
        }
      }
    }
  }
}
