small {
  font-size: 15px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
}
.primary-span {
  font-size: 15px;
}
.primary-text {
  font-size: 14px;
  font-weight: 500;
}
.text-medium {
  font-size: 14px;
}
.text-small {
  font-size: 13px;
}
.text-middle {
  font-size: 13px;
}
.text-smaller {
  font-size: 12px;
}
.font-bold {
  font-weight: bold !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-roboto {
  font-family: "Roboto", sans-serif !important;
}
.font-mont {
  font-family: Montserrat;
}
.line-height-16 {
  line-height: 16px;
}
.line-height-18 {
  line-height: 18px;
}

.text-edited-purple {
  color: #722ed1 !important;
}
