@import "../../../helpers/variables";
.platform-visit-comp {
  background-color: map-get($theme-colors, headerColor);
  width: 60%;
  text-align: center;
  height: 100vh;
  @media (max-width: 760px) {
    display: none;
  }
  .platform-container {
    padding: 10%;
    .platform-heading {
      font-weight: 600 !important;
      font-size: 36px;
      @media (max-width: 1280px) {
        font-size: 32px;
      }
      @media (max-width: 1140px) {
        font-size: 28px;
      }
      @media (max-width: 1000px) {
        font-size: 24px;
      }
      @media (max-width: 850px) {
        font-size: 21px;
      }
    }
    .platform-subheading {
      font-size: 20px;
      margin: 5% 9%;
      @media (max-width: 1280px) {
        font-size: 18px;
      }
      @media (max-width: 1140px) {
        font-size: 16px;
      }
      @media (max-width: 1000px) {
        font-size: 14px;
      }
      @media (max-width: 850px) {
        font-size: 12px;
      }
    }
    .site-tour-img {
      width: 90%;
      height: auto;
      outline: 1px solid white;
      outline-offset: -1px;
    }
  }
}
